@{
	Layout = null;
	@model BookStoreSample.Models.DiscountViewModel
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Book purchase</title>
</head>
<body>
	<div>
		
		<form method="post" action="">
			<input type="hidden" value="@ViewBag.BookId" name="BookId" />
			<table>
				<tr>
					<td><p>Customer name :</p></td>
					<td><input type="text" name="customer" /> </td>
				</tr>
				<tr>
					<td><p>Customer address :</p></td>
					<td>
						<input type="text" name="customerAddress" />
					</td>
				</tr>

				<tr>
					<td><p>Discount :</p></td>
					
					@*<td>@Html.DropDownListFor(m => m.DropDownList, Model.DropDownList)</td>*@
					<td>
						<select name="discountId" id="myid">
							@foreach (SelectListItem item in Model.DropDownList)
							{
								if (item.Value == Model.id.ToString())
								{
									<option value="@(item.Value)" selected="selected">@item.Text</option>
								}
								else
								{
									<option value="@(item.Value)">@item.Text</option>
								}
							}
						</select>
					</td>
				</tr>

				<tr><td><input type="submit" value="Ok" /> </td><td></td></tr>
			</table>
		</form>
	</div>
</body>
</html>